*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html,
body {
  height: 100%; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

body {
  background-color: #8f6c6c; }
  body div {
    margin: 25px 25px; }
  body p {
    display: flex;
    margin: 25px 25px;
    padding: 23px 23px;
    border: 23px 23px;
    background-color: #d40606c7; }
